<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<title>ROV Login</title>

<style>

body{
background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:#1e293b;
padding:30px;
border-radius:10px;
width:250px;
}

input{
width:100%;
padding:8px;
margin-top:10px;
border:none;
border-radius:6px;
}

button{
width:100%;
margin-top:10px;
padding:8px;
background:#2563eb;
border:none;
color:white;
border-radius:6px;
}

</style>

</head>

<body>

<div class="box">

<h3>ROV Dashboard</h3>

<form method="POST">

<input name="id" placeholder="ID">

<input name="pw" type="password" placeholder="Password">

<button>Login</button>

</form>

</div>

</body>
</html>